<div class="p-5">
  <app-breadcrumbs class="absolute z-10"></app-breadcrumbs>
  <button
    class="absolute right-0 bottom-0 bg-blue-200 hover:bg-blue-700 active:bg-blue-800 text-white font-bold py-2 px-4 rounded"
    (click)="reloadData()"
  >
    Reload
  </button>

  <div class="flex flex-row justify-around space-x-10 py-10">
    <div class="rounded-lg shadow-xl w-1/2 p-5">
      <app-years-chart></app-years-chart>
    </div>
    <div class="rounded-lg shadow-xl w-1/2 p-5">
      <app-year-barchart></app-year-barchart>
    </div>
  </div>

  <div class="flex flex-row justify-around space-x-10 py-10">
    <div class="rounded-lg shadow-xl w-1/4 p-5">
      <app-pie-chart></app-pie-chart>
    </div>
    <div class="rounded-lg shadow-xl w-1/2 p-5">
      <app-stacked></app-stacked>
    </div>
  </div>

  <app-entry-list
    (onEntryChanged)="onEntryChanged($event)"
    (onUpload)="onUpload()"
    [entries]="filteredBankDataEntries$ | async"
  >
  </app-entry-list>
</div>
