// hackedyhack css

.mdc-tab--active {
    color: #ffffff;
    background-color: #cdd6e3;
}

.mdc-tab__text-label {
    color: white !important;
}

.mat-mdc-tab-labels {
    background-color: #7babed;    
}

.mdc-tab-indicator {
    display: none !important;
}