<mat-tab-group
  animationDuration="0ms"
  preserveContent="true"
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  [disableRipple]="true"
  class="my-tabs"
>
  <mat-tab label="Visualization">
    <app-visualization></app-visualization>
  </mat-tab>
  <mat-tab label="Entries">
    <app-entry-list-page></app-entry-list-page>
  </mat-tab>
  <mat-tab label="Upload new Data">
    <app-upload-component></app-upload-component>
  </mat-tab>
</mat-tab-group>
<app-account-selector
  class="absolute top-0 right-0 z-10"
></app-account-selector>
